
html {
  background-image: url('immagini4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contatti{
  z-index: 1;

  position: absolute;
  background-color: white;
  
  text-align: center ;
  position: absolute;
  left: 460px;
  top: 150px;
  

}

.contatti:hover{
  z-index: 1;

  position: absolute;
  background-color:rgb(212, 212, 212);
  border-width: 3px;

}

.lista{
  z-index: 1;

  position: absolute;
  background-color: white;
  top: 50%;
  margin-left: 360px;
  margin-right: 360px;
  padding-right: 223px;
  padding-left: 20px;
  

}

.maps{
  z-index: 1;
  background-color: white;
  margin-top: 775px;
  margin-left: 360px;
  margin-right: 360px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 190px;
  bottom: 0px;
}

.container{
  z-index: 1;
  background-color: black;
  position:fixed;
  margin-bottom: -70px;
  bottom:0px;
  right: 0px;
  width:100%;

}

.container p{
  text-align: center ;
  color:rgb(255, 255, 255);
}