table{
    border: 1px solid black;
    margin: auto;
    background-color: #93aac5;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    text-align: center;
}
td{
    background-color: #78ABE5;
    border: 1px solid black;
    margin: -100px;
    padding: 30px;
}

tr{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

#head{
    border: 1px solid black;
    
    margin: -2px;
}

body{
    background-color: lightblue;
}

.title{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 26.4px;
    margin: auto;
    text-align: center;
}

.dayBar{
    cursor:pointer;
    margin: auto;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    margin-bottom: 20px;
}

.buttonDay{
    font-weight: bolder;
    font-size: 25px;
    padding: 50px;
    border-radius: 100%;
}

.buttonDay:hover{
    transition: 1s;
    background-color: rgb(143, 217, 169);
}