body{
    background-color:#101820FF;
}

h1 {
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

ul{
    list-style-type: none;
}

p{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    margin-left: 15%;
}

h1{
    color: #FEE715FF ;
}

.ItemList{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color:#FEE715FF  ;
    width: 100%;
    border: 2px  solid black;
    border-width: 2px;
    color: black;
    display: inline-flex;
    border-radius: 3px;

}

.list{
    padding-left: 5px;
    padding-right: 10px;
    background-color: white;
}