body{
    padding-top:35px;
}

h1 {
    color:white;
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000,
    2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

body{
    background-color: lightblue;
}

.addUser{
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    
}

.tables{
    width: 100%;
    margin-left: 8%;
    display: inline-flex;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

.OStable{
    margin-left: 5%;
    width: 40%;
    text-align: center;
    border: 3px solid black;
    padding-bottom: 1%;
    margin-left: 1%;
    background-color: #78ABE5;
}

.OStable tr{
    border: 2px solid black;
}

.OStable h4{
    margin-top: -0.5%;
    margin-bottom: -0.5%;
}

.newItems{
    width: 100%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    border-bottom: 3px solid black;
}

.reservations{
    width: 40%;
    text-align: center;
    border: 3px solid black;
    padding-bottom: 1%;
    margin-left: 1%;
    background-color: #78ABE5;
}

.reservations h2{
    width: 100%;
    border-bottom: 3px solid black;
    margin-top: -3px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

.reservations button{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 10px;
    cursor:pointer;
}

.PastReserv{
    width: 100%;
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    border-top: 2px black solid;
}
.PastReserv tr{
    border: 2px black solid;
}

.reservations h3{
    width: 100%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

.reservations #newreserv{
    margin-top: -20px; /* Value found on the h2 bottom margin  */
    width: 100%;
    padding: 5%;
    border: none;
    border-bottom: 2px black solid;
    border-radius: 0;
    background-color: #78ABE5;
}

.reservations #newreserv:hover{
    background-color: #9eb4cc;
    transition-duration: 300ms;
}

span{
    text-align: center;
    width: 100%;
    color: red;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

#notific{
    width: 100%;
    margin: auto;
    text-align: center;
}

.bur{
    background-color: #9eb4cc;
}